<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact — Présage Care</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <div class="container my-4 mt-4">

      <h4>Contactez-nous</h4>
      <p>Vous avez des questions ou besoin d'aide ? Nous sommes là pour vous !</p>

      <h4>Support</h4>
      <p>Notre équipe est disponible pour répondre à toutes vos questions, qu'il s'agisse d'une question technique, d'un retour d'expérience ou d'une demande générale.</p>

      <h4>Nous Joindre</h4>
      <p>N'hésitez pas à nous contacter par email. Nous valorisons vos retours et nous nous engageons à vous offrir la meilleure expérience possible.</p>
      <p><b>Email :</b> mohamedlhouari78@gmail.com</p>
      <p><b>Développeur :</b> Ait Lhouari Mohamed</p>

      <h4>Restez Connecté</h4>
      <p>Suivez nos actualités, mises à jour et conseils santé en nous suivant sur les réseaux sociaux.</p>

      <h4>Notre Adresse</h4>
      <p>📍 Présage Care — ParisSanté Campus<br>10 Rue d'Oradour-sur-Glane, 75015 Paris, Île-de-France, France</p>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>
