<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Développeur — Présage Care</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <div class="container my-4 mt-4">

      <h6>À propos de Ait Lhouari Mohamed — Ingénieur IA & Machine Learning</h6>
      <h5>Présentation du Développeur</h5>
      <p>Bonjour, je suis <strong>Ait Lhouari Mohamed</strong>, ingénieur en Intelligence Artificielle et Machine Learning, passionné par l'exploitation de la technologie pour améliorer la vie des gens. Voici un aperçu de mon parcours dans le monde de l'IA et du machine learning.</p>

      <h5>Mon Expertise</h5>
      <p>Fort d'une solide formation en informatique et d'une fascination profonde pour l'IA et le ML, j'ai travaillé sur des projets innovants et diversifiés. J'ai eu le privilège de collaborer sur des projets qui repoussent les limites du possible en matière d'IA et de ML, notamment au sein de <strong>ParisSanté Campus</strong>.</p>

      <h5>Un Engagement envers l'Excellence</h5>
      <p>Mon travail est guidé par un engagement envers l'excellence et la conviction que la technologie doit être accessible et bénéfique à tous. Que ce soit pour développer des modèles prédictifs, créer des algorithmes intelligents ou concevoir des interfaces conviviales, je vise des solutions à la fois innovantes et centrées sur l'utilisateur.</p>

      <h5>Passion pour la HealthTech</h5>
      <p>Le développement de <strong>Présage Care</strong> représente la convergence de ma passion pour l'IA et de mon engagement à améliorer l'accessibilité aux soins de santé. Je crois que l'IA a le potentiel de transformer notre approche de la santé, en la rendant plus personnalisée et informative.</p>

      <h5>Rejoignez-moi dans cette Aventure</h5>
      <p>Je vous invite à explorer <strong>Présage Care — ParisSanté Campus</strong> et à découvrir par vous-même la fusion de l'IA et de la santé. Ensemble, nous pouvons donner aux individus les moyens d'agir grâce à la connaissance et contribuer à un avenir plus sain.</p>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>
